{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form>
            <h5>Podaci o trgovini</h5>
            <hr>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"><strong>Naziv trgovine:</strong></label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ store.username }}" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"><strong>Adresa trgovine:</strong></label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ store.address }}, {{ store.city }}" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"><strong>Radno vrijeme trgovine(pon-sub):</strong></label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ store.workingdaystart }}-{{ store.workingdayend }}" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"><strong>Radno vrijeme trgovine(ned):</strong></label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ store.weekendstart }}-{{ store.weekendend }}" readonly></div>
            </div>
            <label><strong>Komentari administratora:</strong></label>
            {% if comments %}
                <ul>
                    {% for comment in comments %}
                        <li>{{ comment.comcontent }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <label>Ova trgovina trenutno nema komentara administratora!</label>
            {% endif %}
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"><strong>Broj krivo upisanih cijena za današnji dan:</strong></label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ size }}" readonly></div>
            </div>
            <div class="form-group">
                <a class="btn btn-info" href="/trgovine_search">Povratak</a>
            </div>
        </form>
    </div>
{% endblock %}