{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if added %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uspješno ste dodali komentar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif changed %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uspješno ste izmijenili komentar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <h3>Trgovina</h3>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Naziv:</label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ store.username }}" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Adresa:</label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ store.address }}, {{ store.city }}" readonly></div>
            </div>
            <hr>
        </form>
        {% if not comment %}
            <form action="/addComment" method="post">
                <div class="form-group ">
                    Niste još dodali komentar za ovu trgovinu. Možete ga unijeti ovdje:
                    <br>
                    <input type="text" name="comment" class="form-control" placeholder="Upišite komentar">
                </div>
                <div class="form-group">
                    <input type="hidden" name="storeid" value="{{ store.storeid }}">
                    <button type="submit" class="btn btn-primary btn-sm">Dodaj komentar</button>
                </div>
            </form>

        {% else %}
            <form action="/updateComment" method="post">
                <div class="form-group">
                    Vaš komentar:
                    <br>
                    <input type="hidden" name="storeid" value="{{ store.storeid }}">
                    <input type="text", name="comment", class="form-control" value="{{ comment.comcontent }}" placeholder="Upišite komentar">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Ažuriraj komentar</button>
                </div>
            </form>
        {% endif %}
        <a class="btn btn-info btn-sm" href="/stores">Povratak</a>
    </div>
{% endblock %}