{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-hover table-border">
        <thead class="thead-dark">
            <tr>
                <th>Korisničko ime</th>
                <th>Grad</th>
                <th>Adresa</th>
                <th>Omogućen pristup</th>
                <th>Promijeni pristup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.username }}</td>
                <td>{{ store.city }}</td>
                <td>{{ store.address }}</td>
                <td align="center" width="15%">
                    {% if store.blockade %}
                        <i class="fas fa-times" style="color:red"></i>
                    {% else %}
                        <i class="fas fa-check" style="color:green"></i>
                    {% endif %}
                </td>
                <td align="center" width="15%">
                    <form class="form-inline" action="/changeBlockade_store" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeid" value="{{ store.storeid }}">
                            {% if store.blockade %}
                                <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-thumbs-up"></i>&nbsp;Omogući</button>
                            {% else %}
                                <button class="btn btn-danger btn-sm" type="submit"><i class="fas fa-hand-paper"></i>&nbsp;Onemogući</button>
                            {% endif %}
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form-inline" action="/addComment" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeid" value="{{ store.storeid }}">
                            <input type="hidden" name="empty" value="{{ True }}">
                            <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-comment"></i>&nbsp;Komentar</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}