{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-hover table-border">
        <thead class="thead-dark">
            <tr>
                <th>Korisničko ime</th>
                <th>Ime i prezime</th>
                <th>E-mail</th>
                <th>Uloga</th>
                <th>Omogućen pristup</th>
                <th>Promijeni ulogu</th>
                <th>Promijeni pristup</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}

            {% if not user.isstore %}
                <tr>
                    <td width="15%">{{ user.username }}</td>
                    <td>
                        {% if not user.nameprivate %}
                            {{ user.firstname }} {{ user.lastname }}
                        {% else %}
                            <strong>Privatno</strong>
                        {% endif %}
                    </td>
                    <td>
                        {% if not user.emailprivate %}
                            {{ user.email }}
                        {% else %}
                            <strong>Privatno</strong>
                        {% endif %}
                    </td>
                    <td width="10%">
                        <strong>{% if user.adminright %}
                            Administrator
                        {% else %}
                            Korisnik
                        {% endif %}</strong>
                    </td>
                    <td align="center" width="10%">
                        {% if user.banned %}
                            <i class="fas fa-times" style="color:red"></i>
                        {% else %}
                            <i class="fas fa-check" style="color:green"></i>
                        {% endif %}
                    </td>
                    <td align="center" width="10%">
                        <form class="form-inline" action="/changeRole" method="post">
                            <div class="form-group">
                                <input type="hidden" name="userid" value="{{ user.userid }}">
                                {% if user.adminright%}
                                    <button class="btn btn-info btn-sm" type="submit"><i class="fas fa-user"></i>&nbsp;Korisnik</button>
                                {% else %}
                                    <button class="btn btn-info btn-sm" type="submit"><i class="fas fa-user-shield"></i>&nbsp;Admin</button>
                                {% endif %}
                            </div>
                        </form>
                    </td>
                    <td align="center" width="10%">
                        <form class="form-inline" action="/changeBlockade" method="post">
                            <div class="form-group">
                                <input type="hidden" name="userid" value="{{ user.userid }}">
                                {% if user.banned %}
                                    <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-thumbs-up"></i>&nbsp;Omogući</button>
                                {% else %}
                                    <button class="btn btn-danger btn-sm" type="submit"><i class="fas fa-hand-paper"></i>&nbsp;Onemogući</button>
                                {% endif %}
                            </div>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}