{% extends 'base.html' %}

{% block content %}
    <div class="container">
            {% if added %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uspješno ste se dodali zahtjev za promjenom cijene!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="col px-md-5 p-3 border bg-light">
                <h2>Predaja zahtjeva za promjenom cijene</h2>
                <form action="/priceChangeRequest" method ="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="itemname">Naziv proizvoda: {{ item.itemname }}</label>
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="username">Naziv trgovine: {{ store.username }}</label>
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="price">Cijena proizvoda u trgovini: {{ iteminstore.price }}</label>
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="goodprice">Ispravna cijena</label>
                        <br>
                        <label>
                            <input type="text" class="form-control" name="rightprice" placeholder="Upišite ispravnu cijenu" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Odabir fotografije</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image" onchange="loadFile(event)" id="file-upload">
                            <label class="custom-file-label" for="file-upload">Odaberite fotografiju...</label>
                            <div id="file-upload-filename"></div>
                        </div>
                    </div>
                    <input type="hidden" name="storeid" value="{{ store.storeid }}">
                    <input type="hidden" name="gtin" value="{{ item.gtin }}">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Dodaj">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var input = document.getElementById( 'file-upload' );
        var infoArea = document.getElementById( 'file-upload-filename' );

        input.addEventListener( 'change', showFileName );

        function showFileName( event ) {

            // the change event gives us the input it occurred in
            var input = event.srcElement;

            // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
            var fileName = input.files[0].name;

            // use fileName however fits your app best, i.e. add it into a div
            infoArea.textContent = 'File name: ' + fileName;
        }
    </script>

{% endblock %}