{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-hover table-border">
            <thead class="thead-dark">
            <tr>
                <th>Naziv proizvoda</th>
                <th>Naziv trgovine</th>
                <th>Adresa trgovine</th>
                <th>Trenutna cijena</th>
                <th>Nova cijena(predložena)</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                <td>{{ request.Item.itemname }}</td>
                <td>{{ request.Store.username }}</td>
                <td>{{ request.Store.address }}, {{ request.Store.city }}</td>
                <td>{{ request.iteminstore.price }} kn</td>
                <td>{{ request.Pricechange.newprice }} kn</td>
                <td>
                    <form action="/zahtjevPodaci" method="post">
                        <input type="hidden" name="changeid" value="{{ request.Pricechange.changeid }}">
                        <button class="btn btn-sm btn-info">Pregledaj zahtjev</button>
                    </form>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}