{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form>
            <h3>Zahtjev za promjenom cijene</h3>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Proizvod:</label>
                <div class="col-sm-2"><input type="text" class="form-control-plaintext" value="{{ request.Item.itemname }}" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Adresa trgovine:</label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ request.Store.address }}, {{ request.Store.city }}" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Trenutna cijena:</label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ request.iteminstore.price }} kn" readonly></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nova cijena:</label>
                <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ request.Pricechange.newprice }} kn" readonly></div>
            </div>
            <div class="form-group">
                <img src="../../static/img/{{ request.Picture.picturepath }}" width="300" height="300">
            </div>
        </form>
        <div class="button-box">
            <form action="/odobriPromjenu" method="post" class="form-inline">
                <input type="hidden" name="itemid" value="{{ request.Item.gtin }}">
                <input type="hidden" name="changeid" value="{{ request.Pricechange.changeid }}">
                <input type="hidden" name="storeid" value="{{ request.Store.storeid }}">
                <input type="hidden" name="newprice" value="{{ request.Pricechange.newprice }}">
                <button type="submit" class="btn btn-success btn-sm">Odobri</button>
                &nbsp;
            </form>
            <form action="/odbaciPromjenu" method="post" class="form-inline">
                <input type="hidden" name="changeid" value="{{ request.Pricechange.changeid }}">
                <button type="submit" class="btn btn-danger btn-sm">Odbaci</button>
                &nbsp;
            </form>
            <a href="/requests" class="btn btn-sm btn-secondary">Povratak</a></div>
    </div>
{% endblock %}