{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="container">
            {% if radioError %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Morate odabrati pretražujete ili po nazivu ili po oznakama!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <h5>Pretraživanje:</h5>
            <form class="form-inline" action="/proizvodi_search" method="post">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input radio-inline" type="radio" id="gridRadios1"
                               name="radio" value="naziv">
                        Prema nazivu &nbsp;</label>
                    <label class="form-check-label">
                        <input class="form-check-input radio-inline" type="radio" id="gridRadios2"
                               name="radio" value="oznaka">
                        Prema oznaci</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" type="text" placeholder="Upišite naziv proizvoda" name="naziv">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" type="text" placeholder="Upišite oznaku" name="oznaka">
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i>Pretraži</button>
                &nbsp;
                <a class="btn btn-info mb-2" href="/proizvodi_search">Cijela lista</a>
            </form>
        </div>
    <hr>
        <table class="table table-hover table-border">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center">Naziv</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td style="text-align: center">{{ item.Item.itemname }}</td>
                <td style="text-align: center">
                    <form action="/proizvod_podaci" method="post">
                        <input type="hidden" name="gtin" value="{{ item.Item.gtin }}">
                        <button class="btn btn-sm btn-secondary" type="submit"><i class="fas fa-info"></i>&nbsp;Podaci</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}