{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if empty %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Morate nešto upisati u kućice!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif emptyCheck %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Morate odabrati po čemu želite pretraživati!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <h5>Pretraživanje:</h5>
        <form class="form-inline" action="/trgovine_search" method="post">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input radio-inline" type="checkbox"
                           name="addressCheck">
                    Prema adresi &nbsp;</label>
                <label class="form-check-label">
                    <input class="form-check-input radio-inline" type="checkbox"
                           name="cityCheck">
                    Prema gradu</label>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" type="text" placeholder="Upišite adresu trgovine" name="address">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" type="text" placeholder="Upišite grad" name="city">
            </div>
            <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i>Pretraži</button>
            &nbsp;
            <a class="btn btn-info mb-2" href="/trgovine_search">Cijela lista</a>
        </form>
        <table class="table table-hover table-border">
            <thead class="thead-dark">
            <tr>
                <th style="text-align: center">Naziv trgovine</th>
                <th style="text-align: center">Adresa trgovine</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for store in stores %}
            <tr>
                <td style="text-align: center">{{ store.storename }}</td>
                <td style="text-align: center">{{ store.address }}, {{ store.city }}</td>
                <td style="text-align: center">
                    <form action="/trgovina_podaci" method="post">
                        <input type="hidden" name="storeid" value="{{ store.storeid }}">
                        <button class="btn btn-sm btn-secondary" type="submit"><i class="fas fa-info"></i>&nbsp;Više informacija</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}