{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if exists %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Već ste dodali upisanu oznaku za ovaj proizvod!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif added %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uspješno ste dodali oznaku proizvodu!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <h5>Dodaj oznaku</h5>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Naziv proizvoda:</label>
            <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ item.itemname }}" readonly></div>
        </div>
        {% if existing %}
            {% if size < 5 %}
                Broj dodanih oznaka (max 5): {{ size }}
            {% else %}
                Dodali ste svojih 5 oznaka za ovaj proizvod:
            {% endif %}
            <ul>
                {% for item in existing %}
                    <li>
                        <form action="/deleteTag" method="post">
                            {{ item.Tag.tagname }}
                            <input type="hidden" name="tagid" value="{{ item.Tag.tagid }}">
                            <input type="hidden" name="itemid" value="{{ item.UserTag.itemid }}">
                            <button type="submit" class="btn btn-link">Obriši</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Dodajte svoju prvu oznaku za ovaj proizvod:
        {% endif %}
        <form action="/addTag" method="post">
            <div class="form-group">
                <input type="hidden" name="gtin" value="{{ item.gtin }}">
                <input type="text" placeholder="Upišite novu oznaku" class="col-sm-4 form-control" name="oznaka" required>
            </div>
            {% if size < 5 %}
                <div class="form-group">
                <button class="btn btn-success btn-sm">Dodaj</button>
                </div>
            {% else %}
                <div class="form-group">
                    <button class="btn btn-success btn-sm" disabled>Dodaj</button>
                </div>
            {% endif %}
        </form>
        <form action="/proizvod_podaci" method="post">
            <input type="hidden" name="gtin" value="{{ item.gtin }}">
            <button class="btn btn-secondary btn-sm">Povratak</button>
        </form>
    </div>
{% endblock %}