{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h5>Naziv proizvoda: {{ itemname }}</h5>
            <table class="table table-hover table-border">

                <thead class="thead-dark">
                <tr>
                    <th>Datum izmjene</th>
                    <th>Stara cijena</th>
                    <th>Nova cijena</th>

                </thead>
                <tbody>
                    {% for change in changes %}
                        {% if change.newprice != change.oldprice %}
                        <tr>
                            <td>{{ change.changedate }}</td>
                            <td>{{ change.oldprice }}</td>
                            <td>{{ change.newprice }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <form action="/proizvod_podaci" method="post">
                <input type="hidden" name="storeid" value="{{ storeid }}">
                <input type="hidden" name="gtin" value="{{ gtin }}">
                <button class="btn btn-warning btn-secondary" type="submit"><i class="fas fa-undo"></i>Povratak</button>
            </form>
    </div>
{% endblock %}