{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h5>Naziv proizvoda: {{ item.itemname }}</h5>
        <hr>
        {% if tags %}
            <strong>Top 5 oznaka:</strong>
            <ul>

                {% for tag in tags %}
                    <li>{{ tag.Tag.tagname }}</li>
                {% endfor %}

                <hr>
            </ul>
        {% else %}
            {% if current_user.is_authenticated %}<p>Budite prvi koji će dodati oznaku ovom proizvodu:</p>{% endif %}
        {% endif %}
        {% if current_user.is_authenticated %}
            <form action="/addTag" method="post">
            <input type="hidden" name="gtin" value="{{ item.gtin }}">
            <input type="hidden" name="empty" value="{{ True }}">
            <button class="btn btn-sm btn-secondary" type="submit"><i class="fas fa-plus"></i>&nbsp;Dodaj oznake</button>
            </form>
            <hr>
        {% endif %}

        <a href="/proizvodi_search" class="btn btn-warning btn-sm"><i class="fas fa-undo"></i>&nbsp;Povratak</a>

        <hr>
        <h5>Trgovine u kojima se proizvod nalazi</h5>
        <table class="table table-hover table-border">

            <thead class="thead-dark">
            <tr>
                <th>Naziv trgovine</th>
                <th>Adresa trgovine</th>
                <th>Cijena</th>
                <th>Količina</th>

                {% if current_user.is_authenticated %}<th>Pogrešna cijena</th>{% endif %}
                <th>Promjene cijene</th>

            </thead>
            <tbody>
                {% for store in stores %}
                <tr>
                    <td>{{ store.storename.username }}</td>
                    <td>{{ store.storename.address }}, {{ store.storename.city }}</td>
                    <td>{{ store.price }}</td>
                    <td>{{ store.amount }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                            <form action="/priceChangeRequest" method="post">
                                <input type="hidden" name="storeid" value="{{ store.storeid }}">
                                <input type="hidden" name="gtin" value="{{ item.gtin }}">
                                <button class="btn btn-sm btn-secondary" type="submit">Predaj zahtjev</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <form action="/priceChanges" method="post">
                                <input type="hidden" name="storeid" value="{{ store.storeid }}">
                                <input type="hidden" name="gtin" value="{{ item.gtin }}">
                                <button class="btn btn-sm btn-secondary" type="submit">Pregledaj promjene</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}