{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mx-md-n5">
            <div class="col px-md-5 p-3 border bg-light">
                <h2>Korisnik</h2>
                <form action='/login' method=post>
                    {% if notexistsuser %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Netočno korisničko ime ili lozinka!
                            Ukoliko se niste registrirali, registrirajte se <a href="/register">ovdje</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if banned %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Vaš račun je blokiran od strane administratora i više nemate mogućnost prijave!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <br>
                        <input type="text" class="form-control" name="username"
                               placeholder="Upišite korisničko ime" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <br>
                        <input type="password" class="form-control" name="password"
                               placeholder="Upišite lozinku" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Prijava">
                    </div>
                </form>
            </div>
            <div class="col px-md-5 p-3 border bg-light">
                <h2>Trgovina</h2>
                <form action='/store_login' method=post>
                    {% if notexists %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Netočno korisničko ime ili lozinka!
                            Ukoliko se niste registrirali, registrirajte se <a href="/register">ovdje</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <br>
                        <input type="text" class="form-control" name="store_username"
                               placeholder="Upišite korisničko ime">
                    </div>
                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <br>
                        <input type="password" class="form-control" name="store_password"
                               placeholder="Upišite lozinku">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Prijava">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}