{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div>
            <h2>Register</h2>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <form action="/register" method="post">
			{{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="form-group form-field">
                {{ form.firstname.label }}
                <br>
                {{ form.firstname(size=32) }}
                {% if form.firstname.errors %}
                    <ul class="errors">
                        {% for error in form.firstname.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.lastname.label }}
                <br>
                {{ form.lastname(size=32) }}
                {% if form.lastname.errors %}
                    <ul class="errors">
                        {% for error in form.lastname.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
 
            <div class="form-group">
                {{ form.username.label }}
                <br>
                {{ form.username(size=32) }}
                {% if form.username.errors %}
                    <ul class="errors">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
 
            <div class="form-group">
                {{ form.email.label }}
                <br>
                {{ form.email(size=32) }}
                {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                <br>
                {{ form.password(size=32) }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
 
            <div class="form-group">
                {{ form.password2.label }}
                <br>
                {{ form.password2(size=32) }}
            </div>
            <div class="form-group">
				<input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
    </div>
{% endblock content %}



