{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row mx-md-n5">
            <div class="col px-md-5 p-3 border bg-light">
                <div class="container">{% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">

                        <strong>Ponovno upišite podatke za registraciju!</strong>
                        <ul>
                            {% for error in errors %}
                                <li type="text">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}</div>
                <h2>Korisnik</h2>
                <form action='/register' method=post>

                    <div class="form-group">
                        <label for="firstname">Ime</label>
                        <br>
                        <input type="text" class="form-control" name="firstname"
                               placeholder="Upišite ime" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Prezime</label>
                        <br>
                        <input type="text" class="form-control" name="lastname"
                               placeholder="Upišite prezime" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <br>
                        <input type="text" class="form-control" name="username"
                               placeholder="Upišite korisničko ime" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <br>
                        <input type="email" class="form-control" name="email"
                               placeholder="Upišite e-mail" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <br>
                        <input type="password" class="form-control" name="password"
                               placeholder="Upišite lozinku" required>
                    </div>
                    <div class="form-group">
                        <label for="rpassword">Ponovljena lozinka</label>
                        <br>
                        <input type="password" class="form-control" name="rpassword"
                               placeholder="Ponovno upišite lozinku" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Registracija">
                    </div>
                </form>
            </div>
            <div class="col px-md-5 p-3 border bg-light">
                <div class="container">{% if store_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">

                        <strong>Ponovno upišite podatke za registraciju!</strong>
                        <ul>
                            {% for error in store_errors %}
                                <li type="text">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}</div>
                <h2>Trgovina</h2>
                <form action='/store_register' method=post>

                    <div class="form-group">
                        <label for="store_username">Korisničko ime (za prijavu)</label>
                        <br>
                        <input type="text" class="form-control" name="store_username"
                               placeholder="Upišite korisničko ime" required>
                    </div>
                    <div class="form-group">
                        <label for="store_username">Naziv trgovine</label>
                        <br>
                        <input type="text" class="form-control" name="store_storename"
                               placeholder="Upišite naziv trgovine" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Grad</label>
                        <br>
                        <input type="text" class="form-control" name="store_city"
                               placeholder="Grad" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Adresa</label>
                        <br>
                        <input type="text" class="form-control" name="store_address"
                               placeholder="Adresa" required>
                    </div>
                    <div class="form-group">
                        <label>Početak radnog vremena (Pon-Sub)</label>
                        <br>
                        <input type="time" class="form-control" name="workingDayStart" required>
                    </div>
                    <div class="form-group">
                        <label>Kraj radnog vremena (Pon-Sub)</label>
                        <br>
                        <input type="time" class="form-control" name="workingDayEnd" required>
                    </div>
                    <div class="form-group">
                        <label>Početak radnog vremena (Ned)</label>
                        <br>
                        <input type="time" class="form-control" name="weekendStart" required>
                    </div>
                    <div class="form-group">
                        <label>Kraj radnog vremena (Ned)</label>
                        <br>
                        <input type="time" class="form-control" name="weekendEnd" required>
                    </div>
                    <div class="form-group">
                        <label>Lozinka</label>
                        <br>
                        <input type="password" class="form-control" name="store_password"
                               placeholder="Upišite lozinku" required>
                    </div>
                    <div class="form-group">
                        <label for="rpassword">Ponovljena lozinka</label>
                        <br>
                        <input type="password" class="form-control" name="store_rpassword"
                               placeholder="Ponovno upišite lozinku" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Registracija">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}