{% extends 'base.html' %}

{% block content %}
    <div class="container">
            <div class="col px-md-5 p-3 border bg-light">
                <h2>Predaja zahtjeva za promjenom cijene</h2>
                {% if added %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Uspješno su osvježene cijene!
                    </div>
                {% endif %}
                <br>
                <form action="/uploadFile" method ="POST" enctype="multipart/form-data">
                    <div class="form-group custom-file col-sm-4">
                        <input type="file" class="custom-file-input" id="file-upload" name="file">
                        <label class="custom-file-label" for="file-upload">Odaberite datoteku</label>
                        <div id="file-upload-filename"></div>
                    </div>
                    <br>
                    <input type="hidden" name="storeid" value="">
                    <div class="form-group col-sm-4">
                        <input class="btn btn-sm btn-primary" style="width:35%" type="submit" value="Dodaj">
                    </div>
                    <div>
                        <h3>Ispravan oblik upisa u datoteku je sljedeći:</h3>
                        <label for="napomena">nazivProizvoda;novaCijena</label>
                    </div>
                </form>
            </div>
    </div>
    <script>
        var input = document.getElementById( 'file-upload' );
        var infoArea = document.getElementById( 'file-upload-filename' );

        input.addEventListener( 'change', showFileName );

        function showFileName( event ) {

            // the change event gives us the input it occurred in
            var input = event.srcElement;

            // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
            var fileName = input.files[0].name;

            // use fileName however fits your app best, i.e. add it into a div
            infoArea.textContent = 'File name: ' + fileName;
        }
    </script>

{% endblock %}