{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mx-md-n5">
            <div class="container">
                {% if added %}
                    {% if exists %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                        Proizvod već postoji u trgovini, cijena je stavljena na originalnu, a količina je povećana!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Uspješno ste se dodali novi proizvod!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col px-md-5 p-3 border bg-light">
                <h2>Dodavanje novog proizvoda u ponudu</h2>
                <form action="/dodajProizvodTrgovini" method ="POST">
                    <div class="form-group">
                        <label for="itemname">Naziv proizvoda</label>
                        <br>
                        <input type="text" class="form-control" name="itemname"
                               placeholder="Upišite naziv proizvoda" required>
                    </div>
                    <div class="form-group">
                        <label for="itemname">Cijena proizvoda</label>
                        <br>
                        <input type="text" class="form-control" name="price"
                               placeholder="Upišite cijenu proizvoda" required>
                    </div>
                    <div class="form-group">
                        <label for="itemname">Količina proizvoda</label>
                        <br>
                        <input type="text" class="form-control" name="amount"
                               placeholder="Upišite količinu proizvoda u komadima" required>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Dodaj">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}