{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mx-md-n5">
            <div class="container">
                {% if added %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Uspješno ste se dodali novi proizvod!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- umjesto else stavio elif exists -> u slučaju prvog otvaranja stranice oba će biti false te se
                     neće otvoriti nikakav alert -->
                {% elif exists %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        Proizvod već postoji u bazi!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="col px-md-5 p-3 border bg-light">
                <h2>Dodavanje novog proizvoda</h2>
                <form action="/dodajProizvod" method ="POST">
                    <div class="form-group">
                        <label for="itemname">Naziv proizvoda</label>
                        <br>
                        <input type="text" class="form-control" name="itemname"
                               placeholder="Upišite naziv proizvoda" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Dodaj">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}