{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if loggedIn %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uspješno ste se prijavili!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif changed %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uspješno ste promijenili lozinku!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <p><strong>Dobrodošli na naslovnu stranicu naše aplikacije!</strong></p>
        <hr>
            {% if not current_user.is_authenticated %}
            <p>Kao neregistrirani/neprijavljeni korisnik možete samo pretraživati proizvode i trgovine. Da biste otkrili ostale mogućnosti, morate biti registrirani
            i prijavljeni. Registrati se možete <a href="/register">ovdje</a>, a u slučaju da ste se
                registrirali, prijaviti se možete <a href="/login"> ovdje</a>.</p>
            {% endif %}
        {% if current_user.adminright %}
            <p>Kao administrator imate dodatne mogućnosti: <strong>Korisnicima</strong> možete zabraniti/omogućiti pristup te im dodijeliti administratorsku ulogu.
                <strong>Trgovinama </strong> također možete zabraniti/omogućiti pristup te ostaviti komentar na njihovoj stranici.
            </p>
            <div class="container">
                <label>Tablica korisnika: &nbsp;</label>
                <a class="btn btn-sm btn-success" href="/users"><i class="fas fa-user-friends"></i>&nbsp;Korisnici</a>
            </div>
            <br>
            <div class="container">
                <label>Tablica trgovina: &nbsp;</label>
                <a class="btn btn-sm btn-success" href="/stores"><i class="fas fa-store"></i>&nbsp;Trgovine</a>
            </div>
            <hr>
            <div class="container">Broj zahtjeva za promjenom cijene: <strong> {{ size }}</strong></div>
            <div class="container">
                <label>Pregledaj zahtjeve: &nbsp;</label>
                <a class="btn btn-sm btn-info" href="/requests">Zahtjevi</a>
            </div>
        {% elif current_user.isstore %}
            <p>Prijavljeni ste kao trgovina! Svoje proizvode možete pregledati <a href="/proizvodi">ovdje</a>
                , nove proizvode iz Vaše trgovine možete unijeti <a href="/dodajProizvodTrgovini">ovdje</a>.</p>
            <p>Ukoliko u Vašoj trgovini postoje akcije, njih možete unijeti <a href="/uploadFile">ovdje</a></p>
        {% endif %}
    </div>

{% endblock %}

