{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-hover table-border">
        <thead class="thead-dark">
            <tr>
                <th>Naziv</th>
                <th>Trgovina</th>
                <th>Cijena(kn)</th>
                <th>Količina</th>
                <th>Obriši proizvod</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td width="20%">{{ item.Item.itemname }}</td>
                <td width="35%">{{ item.Store.address + ", " + item.Store.city }}</td>
                <td width="10%">{{ item.iteminstore.price }}</td>
                <td align="center" width="10%">{{ item.iteminstore.amount }}</td>
                <td align="center" width="15%">
                    <form action="/obrisiProizvod" method="post">
                        <input type="hidden" name="itemid" value="{{ item.Item.gtin }}">
                        <input type="hidden" name="storeid" value="{{ item.Store.storeid }}">
                        <button class="btn btn-sm btn-danger" onclick="return confirm('Jeste li sigurni da želite obrisati proizvod?');"><i class="fas fa-eraser"></i>&nbsp;Obriši</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}