{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mx-md-n5">
            <div class="col px-md-5 p-3 border bg-light">
                {% if wrong %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Upisane lozinke nisu jednake
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif changed %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Uspješno ste promijenili lozinku!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <h3>Osobni podaci</h3>
                <form action="/update_profile" method="post">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Korisničko ime:</label>
                        <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ user.username }}" readonly></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Uloga:</label>
                        {% if current_user.adminright %}
                            <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="Administrator" readonly></div>
                        {% else %}
                            <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="Korisnik" readonly></div>
                        {% endif %}
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ime:</label>
                        <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ user.firstname }} {{ user.lastname }}" readonly></div>
                        <div class="form-control-plaintext custom-control custom-checkbox col-sm-6">
                            {% if not current_user.nameprivate %}
                                <input type="checkbox" class="custom-control-input" name="nameprivate" id="nameprivate" value="t" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" name="nameprivate" id="nameprivate" value="t">
                            {% endif %}
                            <label class="custom-control-label" for="nameprivate">Prikaži</label>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">E-mail:</label>
                        <div class="col-sm-4"><input type="text" class="form-control-plaintext" value="{{ user.email }}" readonly></div>
                        <div class="form-control-plaintext custom-control custom-checkbox col-sm-6">
                            {% if not current_user.emailprivate %}
                                <input type="checkbox" class="custom-control-input" name="emailprivate" id="emailprivate" value="t" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" name="emailprivate" id="emailprivate" value="t">
                            {% endif %}
                            <label class="custom-control-label" for="emailprivate">Prikaži</label>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <button class="btn btn-sm btn-primary"><i class="fas fa-edit"></i>Ažuriraj privatnost</button>
                    </div>
                </form>
                <hr>
                <p>
                    <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-key"></i>&nbsp;Promijeni lozinku
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form action="/update_password" method="post">
                            <h5>Promjena lozinke</h5>
                            <input class="form-control col-sm-3" type="password" placeholder="Upišite novu lozinku" name="newpassword">
                            <br>
                            <input class="form-control col-sm-3" type="password" placeholder="Ponovite novu lozinku" name="rnewpassword">
                            <br>
                            <button class="btn btn-sm btn-success" style="width: 100px"><i class="fas fa-check"></i>&nbsp;Promijeni</button>
                        </form>
                    </div>
                </div>
                <hr>
                <a class="btn btn-danger btn-sm" href="/delete_acc" onclick="return confirm('Jeste li sigurni da želite obrisati račun?');">
                    <i class="fas fa-eraser"></i>&nbsp;Obriši račun
                </a>

            </div>
        </div>
    </div>
{% endblock content %}
