
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="../../fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">-->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

    <link href="../static/css/sticky-footer.css" rel="stylesheet">

    {{ fontawesome_html() }}
    {% if title %}
      <title>{{ title }} - Prati cijene u maloprodaji</title>
    {% else %}
      <title>Prati cijene u maloprodaji</title>
    {% endif %}
  </head>
  <body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container">
              <a href="/" class="navbar-brand">PratiCijene</a>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav">
                      <a href="/" class="nav-item nav-link"><i class="fas fa-home"></i>&nbsp;Home</a>
                      {% if not current_user.isstore %}<li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-search"></i>&nbsp;Pretraživanje
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/proizvodi_search" class="nav-item nav-link">Proizvoda</a>
                              <a class="dropdown-item" href="/trgovine_search" class="nav-item nav-link">Trgovina</a>
                          </div>
                      </li>{% endif %}
                      <!-- <a class="nav-link nav-item" href="/tagsList">Oznake</a> -->
                      {% if current_user.adminright %}
                          <div class="dropdown">
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" type="button" href="#" id="navbarDropdown" role="button"
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-user-shield"></i>&nbsp;Administracija
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/users" class="nav-item nav-link">Korisnici</a>
                                      <a class="dropdown-item" href="/stores" class="nav-item nav-link">Trgovine</a>
                                      <a class="dropdown-item" href="/requests" class="nav-item nav-link">Zahtjevi za
                                          promjenom cijene</a>
                                  </div>
                          </div>
                          </li>

                      {% endif %}
                      {% if current_user.is_authenticated and current_user.isstore %}
                          <a href="/proizvodi" class="nav-link nav-item">Proizvodi</a>
                          <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Akcije
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a href="/dodajProizvodTrgovini" class="dropdown-item">Dodaj proizvod u trgovinu</a>
                              <a href="/uploadFile" class="dropdown-item">Pošalji datoteku</a>
                      {% endif %}
                      </div>
                      </li>

                  </div>
                  <div class="navbar-nav ml-auto">
                      {% if not current_user.is_authenticated %}
                          <a href="/login" class="nav-item nav-link"><i class="fas fa-sign-in-alt"></i>&nbsp;Prijava</a>
                          <a href="/register" class="nav-item nav-link"><i class="fas fa-plus"></i>&nbsp;Registracija</a>
                      {% else %}
                          <a class="nav-item nav-link">Hi, {{ current_user.username }}</a>
                          {% if not current_user.isstore %}
                              <a href="/profile" class="nav-item nav-link"><i class="fas fa-id-badge"></i>&nbsp;Profile</a>
                          {% endif %}
                          <a href="/logout" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                      {% endif %}
                  </div>
              </div>
          </div>
      </nav>
  </header>


  <br>
  {% block content %} {% endblock content %}

  <footer class="footer">
      <div class="container">
        <span class="text-muted">Prati cijene - Coffeengineers 2019/2020</span>
      </div>
    </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
